# monitoring/prometheus/prometheus.yml

global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'data-pipeline-monitor'

otlp:
  promote_resource_attributes:
    - service.name
    - service.namespace
    - service.instance.id

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  # ===========================================
  # Monitoring Stack
  # ===========================================
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'
          layer: 'monitoring'

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
        labels:
          service: 'grafana'
          layer: 'monitoring'

  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:9093']
        labels:
          service: 'alertmanager'
          layer: 'monitoring'

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
        labels:
          service: 'cadvisor'
          layer: 'monitoring'
    metric_relabel_configs:
      # Giữ lại metrics của containers trong docker-compose project
      - source_labels: [container_label_com_docker_compose_project]
        regex: '.+'
        action: keep
      # Chỉ drop các metrics không cần thiết (bỏ container_last_seen khỏi list)
      - source_labels: [__name__]
        regex: 'container_(tasks_state|memory_failures_total)'
        action: drop

  # ===========================================
  # Infrastructure
  # ===========================================
  - job_name: 'postgresql'
    static_configs:
      - targets: ['postgres-exporter:9187']
        labels:
          service: 'postgresql'
          layer: 'infrastructure'
          database: 'datawarehouse'

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka-exporter:9308']
        labels:
          service: 'kafka'
          layer: 'infrastructure'

  # ===========================================
  # Applications
  # ===========================================
  - job_name: 'data-producer'
    static_configs:
      - targets: ['data-producer:8000']
        labels:
          service: 'producer'
          layer: 'application'
          app: 'data-pipeline'

  - job_name: 'data-consumer'
    static_configs:
      - targets: ['data-consumer:8001']
        labels:
          service: 'consumer'
          layer: 'application'
          app: 'data-pipeline'

  # ===========================================
  # stress test
  # ===========================================
  - job_name: 'load-test'
    static_configs:
      - targets: ['load-test:8002']
        labels:
          service: 'load-test'
          layer: 'testing'
    scrape_interval: 5s